@keyframes breath {
  0%,
  5%,
  55%,
  100% {
    fill: #22c55e;
  }
  35% {
    fill: transparent;
  }
}

.circleBreath {
  transition: fill 0.3s;
}

.group:hover .circleBreath {
  animation: breath 3s infinite;
}
